@model HrUpg25QueryCondition
@{
    ViewBag.Title = AGUPGResource.遞延未核實;
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<link href="~/Areas/AGUPG/Content/AGUPGQU001.css" rel="stylesheet" />
<div id="divQueryBlock">
    @using (Ajax.BeginForm("VBPolicyDetail", "AGUPGQU001", new { area = "AGUPG" }, new AjaxOptions { OnSuccess = "bindGrid" }, new { id = "QueryForm" }))
    {
        @Html.HiddenFor(m => m.AgentCode)
        @Html.HiddenFor(m => m.YYYYSeason)
        @Html.HiddenFor(m => m.DetailType)
    }
    @section GridActions {
        <div class="row">
            <div name="NoData1"></div>
            <div name="AreaHeaderTitle" id="AreaTitle1"></div>
        </div>
        <div class="jqGrid">
            <table id="Area1"></table>
        </div>
        <div id="ResultPagger"></div>
    }
    @section LeftActions{
        @Html.ActionLink(EP.PlatformResources.返回, "Index", "AGUPGQU001", new { YYYYSeason = Model.YYYYSeason, code = Model.AgentCode }, new { @class = "btn btn-default" })
    }
</div>
<div class="to-top" style="display: none;"><i>TOP</i></div>

@section Scripts{
    <script>
        $(function () {
            $("form#QueryForm").trigger("submit");
            scrollFunction();
            GoToTop();
        });

        function bindGrid(data) {
            //if (data.HrUpgGet25Detail4 == null) {
            //    appendMessage("查無資料!!");
            //    return
            //}

            $("div[name='NoData1']").html('<label id="NoData1">查無資料</label>');
            $("#Area1").jqGrid('GridUnload');

            if (data.HrUpgGet25Detail4.length == 0) {
                $("#AreaTitle1").hide();
                $("#NoData1").show();
            }
            else {
                $("#AreaTitle1").show();
                $("#NoData1").hide();

                $("#Area1").jqGrid({
                    datatype: "local",
                    mtype: "POST",
                    colNames: [
                        "業務員姓名",
                        "half件",
                        "受理月份",
                        "起保日",
                        "保險公司",
                        "保單號碼",
                        "被保險人",
                        "要保人",
                        "繳別",
                        "險種代號",
                        "繳費方式",
                        "業務員簽收日",
                        "助理簽收日",
                        "保單狀態",
                        "台幣總保費",
                        "預估FYC"
                    ],
                    colModel: [
                        { name: "AgentName", index: "AgentName" },
                        { name: "IsHalf", index: "IsHalf" },
                        { name: "PolicyYM", index: "PolicyYM" },
                        { name: "PoIssueDate", index: "PoIssueDate" },
                        { name: "CompanyName", index: "CompanyName" },
                        { name: "PolicyNo2", index: "PolicyNo2" },
                        { name: "InsuredName", index: "InsuredName" },
                        { name: "ProposerName", index: "ProposerName" },
                        { name: "ModxName", index: "ModxName" },
                        { name: "PlanCode", index: "PlanCode" },
                        { name: "MethodName", index: "MethodName" },
                        { name: "AGSignDate", index: "AGSignDate" },
                        { name: "AssistSignDate", index: "AssistSignDate" },
                        { name: "PolicyStatusName", index: "PolicyStatusName" },
                        { name: "NTTotalPREM", index: "NTTotalPREM" },
                        { name: "EstimateFYC", index: "EstimateFYC" },
                    ],
                    rowNum: 10,              // 每頁10筆
                    rowList: [10, 20, 50],   // 可選每頁筆數
                    pager: "ResultPagger",   // 分頁元件（需有這個div）
                    viewrecords: true,       // 顯示筆數
                    jsonReader: { /*  讀JSON格式資料*/
                        repeatitems: false,
                        id: "0"
                    },
                    gridComplete: function (mythis) {
                        if (mythis == null) { mythis = this; };
                        var mygrid = $(mythis);
                        // 讓每個row下的cell 都有colname(供RWD使用)
                        // mygrid.find("tr:even").css("background", "#F5EFE7");
                        var cm = mygrid.jqGrid("getGridParam", "colNames");
                        var trs = mygrid.find('tr');
                        $.each(trs, function (tri, tritem) {
                            var tds = $(tritem).find('td');
                            if ($(tritem).hasClass("jqgfirstrow"))  //排除grid第一筆訂寬度用的
                                return;
                            $.each(tds, function (tdi, tditem) {
                                var mytitle = cm[tdi].replace("<br/>", "\n");
                                $(tditem).attr('mycolname', mytitle);

                                 //讓RWD時的Header可以自動調高度！註：因加html至Data欄裡面！所以要小心
                                var dirtyContent = "";
                                var mytitle2 = cm[tdi].replace("<br/>", "");
                                if (mytitle2.Blength() > mytitle2.length && mytitle2.Blength() > 14 && window.innerWidth <= 430) {
                                    for (var ii = 1; ii < (mytitle2.Blength() / 14); ii++)
                                        dirtyContent += "<br/><br/>";//"\n";
                                    $(tditem).append(dirtyContent);
                                }
                                 //讓RWD時的Header可以自動調高度！

                                if (cm[tdi].indexOf("<input") >= 0) {
                                    $(tditem).attr('mycolname', "");
                                }

                            });

                        });
                         //讓它再執行一次Resize(可移除body出現scrollbar的問題)
                        jqGridResize();
                         //若資料是空值則Header出現x - overflow: auto
                        var hdivgrid = mygrid.parent().parent().parent().find(".ui-jqgrid-hdiv");  /*找到header的Div */
                        if (mythis.p.reccount === 0) {
                            hdivgrid.addClass("ui-jqgrid-hdivScrollX");
                        }
                        else {
                            hdivgrid.removeClass("ui-jqgrid-hdivScrollX");
                        }
                    },
                    error: function (ex) {
                        appendMessage("系統發生錯誤!!");
                    }

                });
                $("#Area1").jqGrid('setGridParam', { data: data.HrUpgGet25Detail4 });
                $("#Area1").trigger("reloadGrid");
            }
        }

        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.querySelector('.to-top').style.display = "block";
            } else {
                document.querySelector('.to-top').style.display = "none";
            }
        }
        function GoToTop() {
            let item = document.querySelector('.to-top');
            item.addEventListener('click', (e) => {
                window.scrollTo({
                    top: 0,
                    left: 0,
                    behavior: 'smooth'
                });
            });
        }
    </script>
}
