.CRMEtable {
    border: solid;
    border-width: thin;
    border-color: green;
}

.CRMEtable > thead > tr > th {
    background-color: #64B686;
    color: #ffffff;
    border: thin;
    text-align: center
}

.CRMEtable > tbody > tr:nth-child(even) {
    background: white;
    text-align: center;
}

.CRMEtable > tbody > tr:nth-child(odd) {
    background: whitesmoke;
    text-align: center;
}

.CRMEtable > tbody > tr {
    cursor: pointer;
}

.CRMEtable > tbody > tr:hover {
    background-color: #96D8E3;
}

.confirm {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 240px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

    .confirm .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .confirm .text h1 {
            font-size: 20px;
            text-align: center;
            height: 40px;
            line-height: 40px;
            color:red;
        }

    .confirm .btnpanel {
        height: 40px;
        display: flex;
        height: 40px;
        color: #222;
    }

        .confirm .btnpanel button {
            background-color: light-blue;
            width: 50%;
            border: none;
            color: #222;
        }

        .confirm .btnpanel button:hover {
            cursor: pointer;
            color: white;
        }

        .confirm .btnpanel button.confirm-affirmative:hover {
            background-color: #124559;
        }

        .confirm .btnpanel button.confirm-negative:hover {
            background-color: #e63946;
        }

            .confirm .btnpanel button.go-notify {
                width: 100%;
            }
                .confirm .btnpanel button.go-notify:hover {
                    background-color: #124559;
                }

.backdrop {
    opacity: 0.5;
    background-color: #888;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.none {
    display: none;
}

.card {
    background-color: #f7f9f7;
    padding : 10px;
}

.DefaultTitle {
    color: green;
    font-weight: bolder;
}

.WarningTitle {
    color: red;
    font-weight: bolder;
}

.InfoTitle {
    color: #0d6efd;
    font-weight: bolder;
}