<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="VisualBancas_EP" connectionString="Data Source=;Initial Catalog=Visualbancas_EP;User ID=;pwd=" providerName="System.Data.SqlClient" />
		<add name="VLIFE" connectionString="Data Source=;Initial Catalog=Vlife;User ID=;pwd=" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ENV" value="" />
		<add key="SenderAddress" value="" />
		<add key="SenderDisplayname" value="系統管理者" />
		<add key="SmtpAddress" value="" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpCredentials" value="" />
		<add key="CredentialsId" value="" />
		<add key="CredentialsPwd" value="" />
		<add key="LogMailAdd" value="" />
		<!--設定Timeout時間-->
		<add key="CmdTimeout" value="180" />
		<add key="AnnualReportTemplate" value="保險公司受理前十大產品年報_.xlsx" />
	</appSettings>
</configuration>